<%- include("partials/header") -%>
    <h1>Compose</h1>
    <form action="/compose" method="POST">
        <div class="form-group">

            <label for="">Title</label>
            <br>
            <input type="text" class="form-control" name="title">
            <br>

            <label>Title img</label>
            <br>
            <input type="text" name="postlink" class="form-control">
            <br>
            <label for="">Into Para</label>
            <br>
            <textarea class="form-control" name="pbody" id="" cols="150" rows="8"></textarea>
            <br>
            <label>YouTube Link</label>
            <br>
            <input type="text" class="form-control" name="youtube">
            <br>
            <!-- Paragraph-1 -->
            <label>Para-1</label>
            <br>
            <input type="text" placeholder="Input title" class="form-control" name="title01">
            <br>
            <input type="text" name="img01" class="form-control" placeholder="Input img">
            <br>
            <textarea class="form-control" name="content01" id="" cols="150" rows="8"
                placeholder="Input text"></textarea>

            <br>
            <!-- Paragraph-2 -->
            <label>Para-2</label>
            <br>
            <input type="text" placeholder="Input title" class="form-control" name="title02">
            <br>
            <input type="text" name="img02" class="form-control" placeholder="Input img">
            <br>
            <textarea class="form-control" name="content02" id="" cols="150" rows="8"
                placeholder="Input text"></textarea>

            <br>
            <!-- Paragraph-3 -->
            <label>Para-3</label>
            <br>
            <input type="text" placeholder="Input title" class="form-control" name="title03">
            <br>
            <input type="text" name="img03" class="form-control" placeholder="Input img">
            <br>
            <textarea class="form-control" name="content03" id="" cols="150" rows="8"
                placeholder="Input text"></textarea>

            <br>
            <!-- Paragraph-4 -->
            <label>Para-4</label>
            <br>
            <input type="text" placeholder="Input title" class="form-control" name="title04">
            <br>
            <input type="text" name="img04" class="form-control" placeholder="Input img">
            <br>
            <textarea class="form-control" name="content04" id="" cols="150" rows="8"
                placeholder="Input text"></textarea>

            <br>
            <!-- Paragraph-5 -->
            <label>Para-5</label>
            <br>
            <input type="text" placeholder="Input title" class="form-control" name="title05">
            <br>
            <input type="text" name="img05" class="form-control" placeholder="Input img">
            <br>
            <textarea class="form-control" name="content05" id="" cols="150" rows="8"
                placeholder="Input text"></textarea>

            <br>
            <!-- Paragraph-6 -->
            <label>Para-6</label>
            <br>
            <input type="text" placeholder="Input title" class="form-control" name="title06">
            <br>
            <input type="text" name="img06" class="form-control" placeholder="Input img">
            <br>
            <textarea class="form-control" name="content06" id="" cols="150" rows="8"
                placeholder="Input text"></textarea>

            <br>
            <!-- Paragraph-7 -->
            <label>Para-7</label>
            <br>
            <input type="text" placeholder="Input title" class="form-control" name="title07">
            <br>
            <input type="text" name="img07" class="form-control" placeholder="Input img">
            <br>
            <textarea class="form-control" name="content07" id="" cols="150" rows="8"
                placeholder="Input text"></textarea>

            <br>
            <!-- Paragraph-8 -->
            <label>Para-8</label>
            <br>
            <input type="text" placeholder="Input title" class="form-control" name="title08">
            <br>
            <input type="text" name="img08" class="form-control" placeholder="Input img">
            <br>
            <textarea class="form-control" name="content08" id="" cols="150" rows="8"
                placeholder="Input text"></textarea>

            <br>
            <!-- Paragraph-9 -->
            <label>Para-9</label>
            <br>
            <input type="text" placeholder="Input title" class="form-control" name="title09">
            <br>
            <input type="text" name="img09" class="form-control" placeholder="Input img">
            <br>
            <textarea class="form-control" name="content09" id="" cols="150" rows="8"
                placeholder="Input text"></textarea>

            <br>
            <!-- Paragraph-10 -->
            <label>Para-10</label>
            <br>
            <input type="text" placeholder="Input title" class="form-control" name="title10">
            <br>
            <input type="text" name="img10" class="form-control" placeholder="Input img">
            <br>
            <textarea class="form-control" name="content10" id="" cols="150" rows="8"
                placeholder="Input text"></textarea>

            <br>









        </div>
        <button type="submit" class="btn btn-primary">Publish</button>
    </form>

    <%- include("partials/footer") -%>