<%- include("partials/header") -%>
    <h1>Contact</h1>
    <p><%= contcontent %></p>
    <br>
    <hr>
    <center>
        <a href="https://instagram.com/skill_eureka?utm_medium=copy_link"><i class="fa fa-instagram" style="font-size:52px;color:rgb(231, 15, 134)"></i></a>
        <a href="mailto:skilleureka@gmail.com"><span class="iconify" data-icon="logos:google-gmail" style="font-size: 40px; margin-left: 50px; margin-right: 50px;"></span></a>
        <a href="https://wa.me//+919315137687"><i class="fa fa-whatsapp" style="font-size:52px;color:rgb(49, 228, 73)"></i></a>
        <a href="https://www.youtube.com/channel/UCPZBoWD9-Ovh9DJveIV0xpg/featured"><span class="iconify" data-icon="logos:youtube-icon" style="font-size: 40px; margin-left: 50px;"></span></a>
    </center>
    <hr>